/*#background {
    margin: 0px;
    background-color: #e3f0ff;
}
*/

body{
    margin: 0px;
    background-color: #e3f0ff;
    transition: .5s linear;
}
input{
    outline:none;
}
button{
    outline:none;
}

.header_lp {
    border-bottom: 50px solid #3c6c99;
    width: 20%;

    margin-left: 15%;
    z-index: 1;
    transition: .5s linear;
}
   

.header_lp2 {
    border-bottom: 50px solid #700909;
    width: 20%;

    margin-left: 15%;
    z-index: 1;
    transition: .5s linear;
}    
.header_rp {
    border-bottom: 50px solid #3c6c99;
    width: 50%;
    margin-top:-50px;
    margin-left: 35%;
    z-index: 1;
    transition: .5s linear;
}


.header_rp2 {
    border-bottom: 50px solid #700909;
    width: 50%;
    margin-top:-50px;
    margin-left: 35%;
    z-index: 1;
    transition: .5s linear;
}

.header_img{
    position: absolute;
    top:5px;
    left:80%;
    height: 40px;
    width: 40px;
}

.header_name {
    position: absolute;
    top: 10px;
    height: 40px;
    width: 10%;
    left: 20%;
    font-size: 30px;
    font-family: SyncFont;
    color: #f0f0f0;
    transition: .5s linear;
}
.header_name2 {
    position: absolute;
    top: 10px;
    height: 40px;
    width: 10%;
    left: 20%;
    font-size: 30px;
    font-family: SyncFont;
    color: black;
     transition: .5s linear;
}

.chat_name {
    position: absolute;
    top: 10px;
    height: 40px;
    width: 15%;
    left: 40%;
    font-size: 30px;
    font-family:SyncFont;
    color: #f0f0f0;
     transition: .5s linear;
}
.chat_name2 {
    position: absolute;
    top: 10px;
    height: 40px;
    width: 15%;
    left: 40%;
    font-size: 30px;
    font-family:SyncFont;
    color: black;
     transition: .5s linear;
}



.friend_list {
    height: 93.5%;
    width: 20%;
    background-color: #f5faff;
    margin-left: 15%;
    transition:  .5s linear;
}
    .menuField{

    }   

    /*.findField{

    }

        .findFieldLoop{
            height: 3%;
            width:6%;
            margin-left:12%;
            margin-top:-8%;
            z-index:2;

        }
        .findYourFriendField {
        background-color: white;
        color: black;
        width: 80%;
        height: 5%;
        border-radius: 3px;
        border: 1px solid #dbdbdb;
        margin-left: 10%;
        margin-top: 8%;
        padding-left: 10%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        transition: .5s linear;
    }
            .findYourFriendField:focus {
                border: 1px solid black;
            }
        .findYourFriendField2 {
        background-color: black;
        color: white;
        width: 80%;
        height: 5%;
        border-radius: 3px;
        border: 1px solid #dbdbdb;
        margin-left: 10%;
        margin-top: 8%;
        padding-left: 10%;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        transition: .5s linear;
    }    
    .findYourFriendField2:focus {
               border: 1px solid red;
            }*/
.friend_list2 {
    height: 93.5%;
    width: 20%;
    background-color: #595959;
    margin-left: 15%;
    transition:  .5s linear;
}

.chat_panel {
    position: absolute;
    height: 93.5%;
    width: 50%;
    background-color: #f5faff;
    left: 35%;
    top: 50px;
    transition:  .5s linear;
}
    .borderChat {

        height: 100%;
        width:2px;
        background-color:grey;
    }
.chat_panel2 {
    position: absolute;
    height: 93.5%;
    width: 50%;
    background-color: #595959;
    left: 35%;
    top: 50px;
    transition:  .5s linear;
}
.sendMessage {
}
.sendMessageInput {
    position: absolute;
    top: 75%;
    height: 15%;
    width: 70%;
    left: 5%;
    border: none;
    border-bottom: 2px solid gray;
    padding-left: 1%;
    padding-top: -5px; 
    font-family: Verdana;
    color: gray;
    background: none;
    transition: .3s linear;
}
.sendMessageInput:focus {
    color: black;
    border-bottom: 2px solid black;
    transition: .3s linear;
}

.sendMessageInput2 {
    position: absolute;
    top: 75%;
    height: 15%;
    width: 70%;
    left: 5%;
    border: none;
    border-bottom: 2px solid black;
    padding-left: 1%;
    padding-top: -5px; 
    font-family: Verdana;
    color: white;
    background: none;
    transition: .3s linear;
}
.sendMessageInput2:focus {
    color: white;
    border-bottom: 2px solid white;
    transition: .3s linear;
}

.send {
    position: absolute;
    top: 82.5%;
    background-color: #3c6c99;
    border: 1px solid black;
    padding: 5px;
    left: 80%;
    border-radius: 3px;
    font-family: Verdana;
    font-size: 10px;
    color: #f0f0f0;
    width: 15%;
    height: 7%;
    transition: .3s linear;
    }
.send:hover {
    background-color: #3d5d7a;
    cursor: pointer;
    transition: .3s linear;
}

.send2 {
    position: absolute;
    top: 82.5%;
    background-color:#8e1010 ;
    border: 1px solid black;
    padding: 5px;
    left: 80%;
    border-radius: 3px;
    font-family: Verdana;
    font-size: 10px;
    color: black;
    width: 15%;
    height: 7%;
    transition: .3s linear;
    }
.send2:hover {
    background-color: #590b0b;
    cursor: pointer;
    transition: .3s linear;
}

#chatSending{
    display: none;
}

#messageField {
    position: absolute;
    top: 3.5%;
    left: 5%;
    width: 90%;
    height: 70%;
    display: none;
}

#registrationField{
    position: absolute;
    top: 3.5%;
    left: 5%;
    width: 90%;
    height: 70%;
    display: none;
}
.Belyash{  /* input registration; SDELANO V CHEST BELYASHA REST IN PIECE*/
    font-family: Verdana;
    width: 40%;
    height: 8%;
    padding-left: 3%;
    background-color: white;
    color: black;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .5s linear;

}
.Belyash:focus{
    border: 1px solid black;
}

.Belyash2{  /* input registration; SDELANO V CHEST REBORNING BELYASHA */
    font-family: Verdana;
    width: 40%;
    height: 8%;
    padding-left: 3%;
    background-color: black;
    color: white;
    border-radius: 3px;
    border: 1px solid #dbdbdb;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    transition: .5s linear;

}
.Belyash2:focus{
    border: 1px solid red;
}

.registration{
    font-family: CrazyFont;
    font-size: 40px; 
    color: black;
    transition: .5s linear;
}
.registration2{
    font-family: CrazyFont;
    font-size: 40px; 
    color: white;
    transition: .5s linear;
}

.submitButton{
    width: 20%;
    height: 6.5%;
    font-family: SyncFont;
    font-weight: 600;
    font-size: 20;
    color: white;
    background-color: #898eb0;
 /*   border: none;*/
    transition: .3s linear;
    border-radius: 3px;
    border: 1px solid #717591;
}

.submitButton:hover{
    background: #717591;
  transition: .3s linear;
  border:2px solid black;
}
    
.submitButton2{
    width: 20%;
    height: 6.5%;
    font-family: SyncFont;
    font-weight: 600;
    font-size: 20;
    color: black;
    background-color: #c93741;
 /*   border: none;*/
    transition: .3s linear;
    border-radius: 3px;
    border: 1px solid #717591;
}

.submitButton2:hover{
    background: #911821;
  transition: .3s linear;
  border:2px solid black;
}


#signInField{
    position: absolute;
    top: 3.5%;
    left: 5%;
    width: 90%;
    height: 70%;
    display: none;
}


.category-wrap{
    /*margin-top: 10%;*/
    margin-left: 10%;
    width: 80%;
    height: 25%;
}

.category-wrap button{
    width: 100%;
    height: 20%;
    font-family: SyncFont;
    font-weight: 600;
    font-size: 20;
    color: white;
    background-color: #898eb0;
    border: none;
    transition: .5s linear;
    margin-top:10%; 
}

.category-wrap button:hover {
  background: #717591;
  transition: .5s linear;
  border:1px solid black; 
}



.category-wrap2{
/*    margin-top: 10%;*/
    margin-left: 10%;
    width: 80%;
    height: 25%;
}

.category-wrap2 button{
    width: 100%;
    height: 20%;
    font-family: SyncFont;
    font-weight: 600;
    font-size: 20;
    color: black;
    background-color: #c93741;
    border: none;
    transition: .5s linear;
    margin-top:10%; 

}

.category-wrap2 button:hover {
  background: #911821;
  transition: .5s linear;
  border:1px solid black; 
}


#logOutBtn{
    display: none;
}


.onlineField{
    width: 80%;
    height: 60%;
    border: 2px solid black;
    margin-left: 9.3%;
    margin-top: 10%;
    color:black;
    overflow-x: hidden;
    overflow-y: scroll;
}
.onlineField2{
    width: 80%;
    height: 60%;
    border: 2px solid white;
    margin-left: 9.3%;
    margin-top: 10%;
    color:white;
    overflow-x: hidden;
    overflow-y: scroll;
}


@font-face {
    font-family: "SyncFont";
    src: url("Fonts/SyncFont.TTF") format("truetype");
    font-style: normal;
    font-weight: normal;
} 
@font-face {
    font-family: "CrazyFont";
    src: url("Fonts/CrazyFont.TTF") format("truetype");
    font-style: normal;
    font-weight: normal;
} 



.stretchRight{
    animation-name: stretchRight;
    -webkit-animation-name: stretchRight;   
 
    animation-duration: 1.5s;   
    -webkit-animation-duration: 1.5s;
 
    animation-timing-function: ease-out;    
    -webkit-animation-timing-function: ease-out;    
 
    transform-origin: 0% 0%;
    -ms-transform-origin: 0% 0%;
    -webkit-transform-origin: 0% 0%;        
}

 
@keyframes stretchRight {
    0% {
        transform: scaleX(0.3);
    }
    40% {
        transform: scaleX(1.02);
    }
    60% {
        transform: scaleX(0.98);
    }
    80% {
        transform: scaleX(1.01);
    }
    100% {
        transform: scaleX(0.98);
    }               
    80% {
        transform: scaleX(1.01);
    }
    100% {
        transform: scaleX(1);
    }                           
}
 
@-webkit-keyframes stretchRight {
    0% {
        -webkit-transform: scaleX(0.3);
    }
    40% {
        -webkit-transform: scaleX(1.02);
    }
    60% {
        -webkit-transform: scaleX(0.98);
    }
    80% {
        -webkit-transform: scaleX(1.01);
    }
    100% {
        -webkit-transform: scaleX(0.98);
    }               
    80% {
        -webkit-transform: scaleX(1.01);
    }
    100% {
        -webkit-transform: scaleX(1);
    }       
}



