.checkboxSharingan1{
	position: absolute;
	left: 66%;
	top:43.5%;
	opacity: 0;
	width: 0;
	height: 0;
}
.checkboxSharingan2{
	position: absolute;
	left: 66%;
	top:56%;
	opacity: 0;
	width: 0;
	height: 0;
}

.sharingan + img {
	cursor: pointer;
}

.sharImg{
	position: absolute;
	left: 64.5%;
	top:42%;
	width: 27px;

}

.fileId{
	opacity: 0;
	width: 0;
	height: 0;
}

.fileId + img {
	cursor: pointer;
}

.fileImg{
	width: 30%;

}


.chooseText{
	position: absolute;
	font-family: CrazyFont;
	left:40.5%;
	top:90%;
	font-weight: 800;
}


#rightLogoid{
	position: absolute;
	left: 66%;
	top:43.5%;
	opacity: 0;
	width: 0;
	height: 0;
}

#rightLogoid + img {
	cursor: pointer;
}

.fileId{

}


